h1 {
    color: blue;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 50%;
}


.container {
    padding: 2px 16px;
}

#card-container{
    display: flex;
    gap: 10px;
}

#form {
    margin-top: 20px;
}